.cube {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: $color1;
    border-radius: 2px;
    position: relative;
    transform: rotate(-45deg);
    &--white {
        background: white;
    }

    &__double {
        top: 3px;
        &--space {
            margin-right: 8px;
        }
    }

    &__educ {
        right: 28px;
        &--begin {
            bottom: 20px;
        }
        &--end {
            top: 23px;
        }
    }
}

.trim-sides {
    &::before, &::after {
        position: relative;
        content: "";
        display: inline-block;
        height: 5px;
        width: 18%;
        vertical-align: center;
        margin-right: 10px;
        border-top: 1px solid $color1;
    }
}

.trim-sides--white {
    &::before, &::after {
        position: relative;
        content: "";
        display: inline-block;
        height: 5px;
        width: 18%;
        vertical-align: center;
        margin-right: 10px;
        border-top: 1px solid white;
    }
}

.trim-sides--small {
    margin-right: 22px;
    &::before, &::after {
        position: relative;
        content: "";
        display: inline-block;
        height: 5px;
        width: 12%;
        vertical-align: center;
        margin-right: 10px;
        border-top: 1px solid $color1;
    }
}
